<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>43a69ce869857580061cb15cc9f21d7e</string>
	<key>privateKey</key>
	<string>2c33946d217acb127dc9d94cddf168e587ab99bb</string>
</dict>
</plist>
